<!DOCTYPE html>
<html lang="eng">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Car Rental</title>
    
    <link rel="stylesheet" href="../../styles/style.css" />
</head>
    
<body>
    <header>
        <h1>Car Rental</h1>
        <img src="../../images/logo.png" alt="Car Rental" style="width:150px;height:150px;">
    </header>
    
    <nav>
        <ul>
            <li><a href="../index.html" >Main Page</a></li>
            <li><a href="../customers/customers-list.html">Customers</a></li>
            <li><a href="../cars/cars-list.html" >Cars</a></li>
            <li><a href="rental-list.html" class="active">Rentals</a></li>
        </ul>
    </nav>
    
    <main>
        <h2>List of Rentals</h2>
        
        <table class="table-list">
            
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Car</th>
                    <th>Actions</th>
                </tr>
            </thead>
    
            <tbody>
                <tr>
                    <td>Brad Pitt</td>
                    <td>Renault Captur</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="rental-details.html" class="list-actions-button-details">Details</a>
                            </li>
                            <li>
                                <a href="rental-form-edit.html" class="list-actions-button-edit">Edit</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-delete">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Angelina Jolie</td>
                    <td>Audi A3</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="rental-details.html" class="list-actions-button-details">Details</a>
                            </li>
                            <li>
                                <a href="rental-form-edit.html" class="list-actions-button-edit">Edit</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-delete">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
            
        </table>
        
        <p><a href="rental-form-new.html" class="button-add">Add a new rental</a></p>
        
    </main>
    
    <footer>
        <div>
            <ul>
                <ul> Miraç Gülbeyaz, s23239</ul>
            </ul>
        </div>
    
    </footer>
</body>
    
</html>