<!DOCTYPE html>
<html lang="eng">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Car Rental</title>
    
    <link rel="stylesheet" href="../../styles/style.css" />
</head>
    
<body>
    <header>
        <h1>Car Rental</h1>
        <img src="../../images/logo.png" alt="Car Rental" style="width:150px;height:150px;">
    </header>
    
    <nav>
        <ul>
            <li><a href="../index.html" >Main Page</a></li>
            <li><a href="../customers/customers-list.html">Customers</a></li>
            <li><a href="cars-list.html" class="active">Cars</a></li>
            <li><a href="../rental/rental-list.html">Rentals</a></li>
        </ul>
    </nav>
    
    <main>
        <h2>Edit of Cars</h2>
        
        <form class="form">
            <label for="car_model">Car Model:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="car_model" value="Renault Captur" id="car_model" required />
            
            <label for="VIN">VIN: <abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="VIN" value="1GBJG31U561151054" id="VIN"  required/>
            
            <label for="manufactured">Manufactured: <abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="manufactured" value="French automaker Renault" id="manufactured" required />
          
            <label for="number_of_cars">Number Of Cars:<abbr title="required" aria-label="required">*</abbr> </label>
            <input type="number" name="number_of_cars" value="30" id="number_of_cars" required />

            <label for="color">Color: <abbr title="required" aria-label="required">*</abbr> </label>
            <input type="text" name="color" value="Blue" id="color"  required/>

            <label for="manufactured_date">Manufactured Date:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="date" name="manufactured_date" value="10.10.2006" id="manufactured_date" required />
            
            
            <div class="form-buttons">
                <input class="form-button-submit" type="submit" value="Add" />
                <a class="form-button-cancel" href="cars-list.html">Cancel</a>    
            </div>
        </form>
    </main>
    
    <footer>
        <div>
            <ul>
                <ul> Miraç Gülbeyaz, s23239</ul>
            </ul>
        </div>
    
    </footer>
</body>
    
</html>